<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Lenticular Cloud</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body role="document">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ path('index') }}">Lenticular Cloud</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample03">
				<ul class="navbar-nav mr-auto">
					{% if is_granted('ROLE_USER') %}
					<li class="nav-item{% if app.request.get('_route')  matches '{^profile}' %} active{% endif %}"><a class="nav-link" href="{{ path('profile') }}">Profile</a></li>
					<li class="nav-item{% if app.request.get('_route')  matches '{^services}' %} active{% endif %}"><a class="nav-link" href="{{ path('services') }}">Services</a></li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item{% if app.request.get('_route')  matches '{^admin}' %} active{% endif %}"><a class="nav-link" href="{{ path('admin_index') }}">Admin</a></li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN_REG') %}
						<li class="nav-item{% if app.request.get('_route')  matches '{^reg}' %} active{% endif %}"><a class="nav-link" href="{{ path('registration_admin_index') }}">Reg. Admin</a></li>
					{% endif %}
					{% if not app.user %}
					<li class="nav-item{% if app.request.get('_route')  matches '{^reg}' %} active{% endif %}"><a class="nav-link" href="{{ path('registration_index') }}">Sign Up</a></li>
					{% endif %}
				</ul>

				{% if app.user %}
				<ul class="navbar-nav my-2 my-md-0">
					<li><a href="/logout">Logout</a></li>
				</ul>
				{% endif %}
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div id="message-wraper" class="container">
		<div id="messages">
	</div>
	</div>
	<div class="container" role="main" style="margin-top:60px">
	{% block content %} {% endblock %}
	</div>
	<footer class="footer">
		<div class="container">
			<p class="pull-right">
				<a class="text-muted" href="https://github.com/LenticularCloud/Cloud-Ldap-Admin/issues">Report an Issue</a>
				|
				<a class="text-muted" href="https://github.com/LenticularCloud/Cloud-Ldap-Admin">Lenticular Cloud on Github</a>
			</p>
		</div>
	</footer>
	<script src="{{ asset('build/app.js') }}"></script>
    <script type="text/javascript">{% block javascript_code %}{% endblock %}</script>
</body>
</html>
