{% block subject %}Password Reset{% endblock %}


{% block text %}
Hello {{ username }}

Someone requested a reset url, if you don't requested one, ignore this email or conntact an administrator.

Your reset link is {{ reset_url }}

Best Regards
Your frendly cloudsystem

{% endblock %}

{% block html %}
<html>
<head>

</head>
<body>
    <h1>Hello {{ username }}</h1>

    <p>Someone requested a reset url, if you don't requested one, ignore this email or conntact an administrator.</p>

    <p>Your reset link is <a href="{{ reset_url }}">{{ reset_url }}</a></p>

    <p> Best Regards<br\>
    Your frendly cloudsystem</p>
</body>
</html>

{% endblock %}

