{% extends "CloudFrontBundle::base.html.twig" %}

{% block content %}
{% if errors %}
<ul class="alert alert-danger" role="alert">
    {% for error in errors %}
       {{ error|raw }}
    {% endfor %}
</ul>
{% endif %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#main" aria-controls="home" role="tab" data-toggle="tab">Main</a></li>

</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="main">
        <div class="row">
            {{ form_start(formEditMasterPasswords) }}
                {{ form_widget(formEditMasterPasswords._token) }}
                
                <div class="col-md-3">
                    {{ form_row(formEditMasterPasswords.id) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formEditMasterPasswords.passwordPlain.first) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formEditMasterPasswords.passwordPlain.second) }}
                </div>
                <div class="col-md-3">
                    <div class="col-xs-4">
                    {% if formEditMasterPasswords.add is defined %}
                        {{ form_row(formEditMasterPasswords.add) }}
                    {% else %}
                        {{ form_row(formEditMasterPasswords.save) }}
                    {% endif %}
                    </div>
                    <div class="col-xs-8">
                    {% if formEditMasterPasswords.remove is defined %}
                        {{ form_row(formEditMasterPasswords.remove) }}
                    {% endif %}
                    {{ form_errors(formEditMasterPasswords) }}
                    </div>
                </div>
            {{ form_end(formEditMasterPasswords) }}
        </div>
        {{ form_start(formWifiPassword) }}
            {{ form_widget(formWifiPassword._token) }}
            <div class="col-md-4">
                {{ form_row(formWifiPassword.passwordPlain.first) }}
            </div>
            <div class="col-md-4">
                {{ form_row(formWifiPassword.passwordPlain.second) }}
            </div>
            <div class="col-md-4">
                {% if formWifiPassword.add is defined %}
                    {{ form_row(formWifiPassword.add) }}
                {% else %}
                    {{ form_row(formWifiPassword.save) }}
                {% endif %}
            </div>
        {{ form_end(formWifiPassword) }}
      </div>
</div>

{% endblock %}